body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('violet.jpg'); /* Image de fond principale */
    background-size: cover; /* L'image couvre tout l'écran */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    height: 100vh; /* Prendre toute la hauteur de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Aligner les éléments verticalement */
}

.container {
    width: 80%; /* Réduire la largeur du conteneur */
    max-width: 1000px; /* Largeur maximum pour les grands écrans */
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7); /* Fond noir semi-transparent */
    border-radius: 10px; /* Arrondir les coins du conteneur */
    opacity: 0.9; /* Légère transparence pour mieux voir le texte */
    margin-top: 60px; /* Ajouter un espacement en haut pour éviter de chevaucher le menu */
}

.text-block {
    flex: 1;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.text-block img {
    width: 80%; /* Ajuster la largeur de l'image à 80% du conteneur */
    height: auto; /* Hauteur automatique pour garder les proportions */
    border-radius: 8px; /* Arrondir les coins de l'image */
    margin-top: 15px; /* Espacement entre le texte et l'image */
}

.left {
    text-align: justify;
}

.center {
    text-align: justify;
}

.right {
    text-align: justify;
}

/* Style pour le menu déroulant */
.menu {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100; /* S'assurer que le menu est au-dessus des autres éléments */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000; /* Fond noir */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(206, 8, 166); /* Ombre légère */
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff; /* Texte blanc */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #000000; /* Fond noir pour chaque lien */
}

.dropdown-content a:hover {
    color: #ffffff; /* Texte blanc au survol */
    background-color: #333333; /* Fond gris foncé au survol */
}    

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #000000; /* Fond noir pour le bouton */
    color: #ffffff; /* Texte blanc pour le bouton */
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #333333; /* Fond gris foncé au survol du bouton */
}