body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('violet.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ajustement pour que le contenu occupe toute la hauteur */
    color: #ffffff; /* Couleur par défaut du texte : blanc */
    display: flex;
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
}

/* Style pour le menu déroulant */
.menu {
    position: absolute;
    top: 10px;
    left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(206, 8, 166); 
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #000000;
}

.dropdown-content a:hover {
    color: #ffffff;
    background-color: #333333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #333333;
}

/* Style pour la section de présentation */
.presentation {
    display: flex;
    justify-content: center; /* Centrage horizontal de l'image et du texte */
    align-items: center; /* Centrage vertical de l'image et du texte */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Ajout d'un fond semi-transparent pour le texte */
    border-radius: 10px;
}

.presentation img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.presentation p {
    color: #000000; /* Couleur du texte : noir */
    max-width: 600px;
    line-height: 1.6;
   text-align: justify;
}
